.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.con2 {
    height: 200px;
    width: 800px;
    background-color: white;
    
    margin-top: 30px;
    z-index: 1;
   display: flex;
   border: 1.4px ;
   border-radius: 10px;
    border-color: rgba(239, 239, 239, 1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.12);

  
    
    
}

.con-in{
    margin-left: 20px;
}

.icons{
    position:absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    left: 40%;
    gap: 50px;
}

.con3 {
    height: 200px;
    width: 800px;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    z-index: 1;
    box-shadow: hsla(0, 0%, 0%, 0.12);
}

